@using FintechFengShui.Shared.Model
@model TagModel

<script>
    var _closeCallbackFunc = null;
    onInit = (closeCallbackFunc) => {
        $('#tag-detail-modal').modal('show');
        $('#tag-detail-modal').on('hidden.bs.modal', closeCallbackFunc);
    }
</script>
<div class="modal fade" id="tag-detail-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header p-2">
                <h5 class="modal-title" id="exampleModalLongTitle">Thẻ</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-2">
                <form id="tag-modal-form">
                    <input type="hidden" asp-for="Id"/>
                    <div class="row w-100 m-0 mt-2">
                        <div class="col-md-1 mt-2"><b>Tên:</b></div>
                        <div class="col-md-11">
                            <input class="form-control" placeholder="VD: Tử vi cơ bản....." asp-for="Name"/>
                        </div>
                    </div>
                    <hr class="my-2"/>
                    <div class="row w-100 m-0">
                        <div class="col-md-1 mt-2"><b>Tiêu đề:</b></div>
                        <div class="col-md-11">
                            <input class="form-control" placeholder="VD: tử vi,.." asp-for="Title"/>
                        </div>
                    </div>
                    <hr class="my-2"/>
                    <div class="row w-100 m-0 mt-2">
                        <div class="col-md-1 mt-2"><b>Meta:</b></div>
                        <div class="col-md-11">
                            <input class="form-control" placeholder="tu-vi-co-ban" asp-for="Meta"/>
                        </div>
                    </div>
                    <hr class="my-2"/>
                    <div class="row w-100 m-0 mt-2">
                        <div class="col-md-1 mt-2"><b>Mô tả:</b></div>
                        <div class="col-md-11">
                            <textarea class="form-control" rows="5" placeholder="" asp-for="Description"></textarea>
                        </div>
                    </div>
                </form>
                
            </div>
            <div class="modal-footer p-1">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-primary" onclick="onSave()">Lưu</button>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery.blockUI/jquery.blockUI.min.js"></script>
<script src="~/lib/sweetalert/sweetalert.min.js"></script>
<script>
    onSave = () => {
        $.blockUI({ message: 'Hệ thống đang xử lý vui lòng chờ...'})
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveChange")',
            data: $('#tag-modal-form').serialize(),
            success: (res) => {
                if(res.success == true) {
                    swal({
                        title: "Thông báo",
                        text: "Dữ liệu lưu thành công!",
                        icon: "success"
                    });
                }
                else {
                    swal({
                        title: "Lỗi",
                        text: res.message,
                        icon: "error"
                    });
                }
            },
            error: (xhr, err) => {
                $.unblockUI();
                swal({
                    title: "Lỗi",
                    text: "Có lỗi trong quá trình xử lý, vui lòng thử lại sau",
                    icon: "error"
                });
                console.log(xhr.responseText);
            }
        }).done(() => {
            $.unblockUI();
            $('#tag-detail-modal').modal('hide');
        })
    }
    
</script>
