#login-body {
    background-image: url('/images/huyen-do.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

#login-body::before {
    position: absolute;
    background-color: black;
    content: '';
    opacity: 0.5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
