<div class="container px-0">
    <div class="row w-100 m-0">
        <div class="col-md-8 ps-md-0 mt-2 mt-md-0">
            <img src="~/images/vivu.webp" />
        </div>
        <div class="col-md-4 pe-md-0 h-100 mt-2 mt-md-0">
            <div class="card w-100 h-100">
                <div class="card-header border-box bg-white">
                    <h3 class="card-title text-center m-0 text-font text-success">Phản hồi</h3>
                </div>
                <div class="card-body p-0">
                    
                </div>
            </div>
        </div>
    </div>
</div>
