@{
    ViewData["Title"] = "Liên hệ";
}
<div class="container px-0">
    <div class="row w-100 m-0">
        <div class="col-md-6 ps-md-0 mt-2 mt-md-0">
            <img src="~/images/vivu.webp" class="w-100" height="80"/>
            <div class="col-inner px-2 mt-2">
                <p class="mb-0">ViVuDecor tự hào là đơn vị kinh doanh chuyên mặt hàng gỗ tự nhiên gọn đẹp, phù hợp với mọi không gian. Việc trang trí này giúp không gian bạn thêm phần sang trọng mang lại nhiều thêm ý nghĩa</p>
                <h4 class="text-font mb-2">Cảm ơn Quý khách hàng đã quan tâm đến sản phẩm của ViVuDecor</h4>
                <p class="mb-0">Để kết nối trực tiếp với chúng tôi, Quý khách hàng vui lòng liên hệ theo những hình thức sau:</p>
                <h5 class="text-font">1. Thăm trực tiếp nhà xưởng sản xuất tại địa chỉ:</h5>
                <p>Xưởng và Showroom:  6 Đường số 2 KDC Thành Ủy , Hiệp Bình Chánh, Thủ Đức, HCM</p>
                <h5 class="text-font">2. Điện thoại liên hệ trực tiếp:</h5>
                <p class="mb-0">Di động: 0917219888</p>
                <h3><span style="font-size: 95%;">3. Kết nối miễn phí để tìm hiểu sâu hơn&nbsp;</span></h3>
                <p class="mb-0 ">Facebook: <b class="text-success">ViVuDecor</b></p>
                <p class="mb-0"><span style="font-size: 95%;">Email: vivudecor@gmail.com</span></p>
            </div>
        </div>
        <div class="col-md-6 pe-md-0 h-100 mt-2 mt-md-0">
            <div class="card w-100 h-100">
                <div class="card-header border-box bg-white">
                    <h3 class="card-title text-center m-0 text-font text-success">Liên hệ với ViVu</h3>
                </div>
                <div class="card-body p-1">
                    <form id="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" id="full-name" class="form-control" placeholder="Họ tên (*)">
                            </div>
                            <div class="col-md-6">
                                <input type="number" id="full-name" class="form-control" placeholder="Điện thoại (*)">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <input type="text" id="full-name" class="form-control" placeholder="Tiêu đề">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <textarea type="text" id="full-name" class="form-control" placeholder="Nội dung" rows="5"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer p-1">
                    <button class="btn btn-lagre btn-success text-white w-100"><h4>Gửi <i class="fas fa-paper-plane" aria-hidden="true"></i></h4></button>
                </div>
            </div>
        </div>
    </div>
</div>