@using Microsoft.Extensions.Options
@using VIVU.Logic.Configs
@inject IOptions<SiteConfig> siteConfig

@{
	ViewData["Title"] = "Trang chủ";
}

<div class="row">
	<div class="col s12">
		<div class="container">
			<div class="section">
				<div class="row">
					<div class="col s12">
						<div id="carousel-special-options" class="card card-tabs">
							<div class="card-content">
								<div id="view-carousel-carousel-special-options">
									<div class="row">
										<div class="col s12">
											<div class="carousel carousel-slider center carousel-indicators" data-indicators="true">
												<a class="carousel-item red white-text" href="#one!">
													<img src="@($"{siteConfig.Value.HttpsUrl}images/baner-001.jpg")" class="responsive-img" />
												</a>
												<a class="carousel-item amber white-text" href="#two!">
													<img src="@($"{siteConfig.Value.HttpsUrl}images/baner-002.jpg")" class="responsive-img" />
												</a>
												<a class="carousel-item green white-text" href="#three!">
													<img src="@($"{siteConfig.Value.HttpsUrl}images/baner-003.jpg")" class="responsive-img" />
												</a>
												<a class="carousel-item blue white-text" href="#four!">
													<img src="@($"{siteConfig.Value.HttpsUrl}images/baner-004.jpg")" class="responsive-img" />
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="pt-1 pb-0" id="breadcrumbs-wrapper">		
		<div class="container">
			<div class="row">
				<div class="col s12 m6 l6">
					<h5 class="breadcrumbs-title">Cây treo quần áo</h5>
				</div>
				<div class="col s12 m6 l6 right-align-md">
					<ol class="breadcrumbs mb-0">
						<li class="breadcrumb-item">
							<a href="index.html">Trang chủ</a>
						</li>
						<li class="breadcrumb-item active">
							Cây treo quần áo
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12">
		<div class="container">
			<div class="section">
				<div class="row" id="ecommerce-products">
					<div class="col s12 m12 l12">
						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-001.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">441.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-002.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">341.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-003.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">541.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-005.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">741.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="pt-1 pb-0" id="breadcrumbs-wrapper">
		<!-- Search for small screen-->
		<div class="container">
			<div class="row">
				<div class="col s12 m6 l6">
					<h5 class="breadcrumbs-title">Giá treo quần áo</h5>
				</div>
				<div class="col s12 m6 l6 right-align-md">
					<ol class="breadcrumbs mb-0">
						<li class="breadcrumb-item">
							<a href="index.html">Trang chủ</a>
						</li>
						<li class="breadcrumb-item active">
							Giá treo quần áo
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12">
		<div class="container">
			<div class="section">
				<div class="row" id="ecommerce-products">
					<div class="col s12 m12 l12">
						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-001.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">441.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-002.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">341.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-003.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">541.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-005.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">741.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="pt-1 pb-0" id="breadcrumbs-wrapper">
		<!-- Search for small screen-->
		<div class="container">
			<div class="row">
				<div class="col s12 m6 l6">
					<h5 class="breadcrumbs-title">Móc treo dán tường</h5>
				</div>
				<div class="col s12 m6 l6 right-align-md">
					<ol class="breadcrumbs mb-0">
						<li class="breadcrumb-item">
							<a href="index.html">Trang chủ</a>
						</li>
						<li class="breadcrumb-item active">
							Móc treo dán tường
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12">
		<div class="container">
			<div class="section">
				<div class="row" id="ecommerce-products">
					<div class="col s12 m12 l12">
						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-001.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">441.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-002.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">341.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-003.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">541.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-005.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">741.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="pt-1 pb-0" id="breadcrumbs-wrapper">
		<!-- Search for small screen-->
		<div class="container">
			<div class="row">
				<div class="col s12 m6 l6">
					<h5 class="breadcrumbs-title">Kệ gỗ treo tường</h5>
				</div>
				<div class="col s12 m6 l6 right-align-md">
					<ol class="breadcrumbs mb-0">
						<li class="breadcrumb-item">
							<a href="index.html">Trang chủ</a>
						</li>
						<li class="breadcrumb-item active">
							Kệ gỗ treo tường
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12">
		<div class="container">
			<div class="section">
				<div class="row" id="ecommerce-products">
					<div class="col s12 m12 l12">
						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-001.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">441.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-002.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">341.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-003.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">541.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-005.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">741.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="pt-1 pb-0" id="breadcrumbs-wrapper">
		<!-- Search for small screen-->
		<div class="container">
			<div class="row">
				<div class="col s12 m6 l6">
					<h5 class="breadcrumbs-title">Tủ gỗ</h5>
				</div>
				<div class="col s12 m6 l6 right-align-md">
					<ol class="breadcrumbs mb-0">
						<li class="breadcrumb-item">
							<a href="index.html">Trang chủ</a>
						</li>
						<li class="breadcrumb-item active">
							Tủ gỗ
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12">
		<div class="container">
			<div class="section">
				<div class="row" id="ecommerce-products">
					<div class="col s12 m12 l12">
						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-001.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">441.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-002.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">341.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-003.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">541.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>

						<div class="col s12 l3 l3">
							<div class="card animate fadeLeft">
								<div class="card-content">
									<a href="#">
										<p>Cây treo quần áo</p>
									</a>
									<a href="#">
										<span class="card-title text-ellipsis">
											Cây Treo Quần Áo Vivudecor 100% Gỗ Tự
											Nhiên
										</span>
									</a>
									<img src="images/cay-treo-quan-ao-005.jpg" class="responsive-img" alt="">
									<div class="row">
										<h5 class="col s12 m12 l8 mt-3">741.000 đồng</h5>
										<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
										   href="#">Xem thêm</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>