html {
  font-size: 14px;
}

a {
    text-decoration: none;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

.text-font {
    font-family: 'Oswald';
}

.stripe-line {
    background-image: url('../images/stripe.png');
}

.text-collapse {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
}