<footer class="border-top footer bg bg-black py-3" style="background-color: black;">
    <div class="container">
        <p class="mb-0 text-white" style="font-weight:bold;">Bản quyền &copy; 2022 - VIVUDECOR</p>
        <p class="mb-0 text-white"><span style="font-weight:bold;">Địa chỉ:</span> 6 Đường số 2 KDC Thành Ủy , Hiệp Bình Chánh, Thủ Đức, HCM | <span style="font-weight:bold;">Hotline:</span> 0917219888</p>
        <p class="mb-0 text-white">Giấy phép kinh doanh số XXXXXXXXX do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày dd/MM/yyyy</p>
    </div>
</footer>