<div class="container-fluid mt-2 px-0" style="background-color: black;">
   <div class="container px-md-0">
        <div class="row w-100 m-0 py-2">
            <div class="col-md-3 ps-0 mt-2">
                <h5 class="mb-2 text-white">VIVUDECOR</h5>
                <p class="mb-0 text-white">Chuyên cung cấp đồ gỗ giá rẻ làm đẹp không gian sống của bạn</p>
                <img class="mt-2" width="200" height="76" src="~/images/bo-cong-thuong.png">
            </div>
            <div class="col-md-3 px-0 px-md-2 mt-2">
                <h5 class="mb-2 text-white">HỖ TRỢ KHÁCH HÀNG</h5>
                <p class="mb-0 text-white">Trung tâm hỗ trợ</p>
                <p class="mb-0 text-white">Hướng dẫn đặt hàng</p>
                <p class="mb-0 text-white">Chính sách đổi trả</p>
                <p class="mb-0 text-white">Câu hỏi thường gặp</p>
            </div>
            <div class="col-md-3 px-0 px-md-2 mt-2">
                <h5 class="mb-2 text-white">VỀ VIVU</h5>
                <p class="mb-0 text-white">Hotline và Chat</p>
                <p class="mb-0 text-white">Chính sách bảo mật</p>
                <p class="mb-0 text-white">Chính sách quyền riêng tư</p>
                <p class="mb-0 text-white">Đại lý bán hàng</p>
            </div>
            <div class="col-md-3 pe-0">
                <h5 class="mb-2 text-white">LIÊN KẾT</h5>
                <img class="mt-2" width="200" height="76" src="~/images/payment.webp">
            </div>
        </div>
   </div>
</div>
<hr class="my-0 text-white" style=""/>
<footer class="border-top footer bg bg-black py-2" style="background-color: black;">
    <div class="container px-md-0">
        <p class="mb-0 text-white" style="font-weight:bold;">Bản quyền &copy; 2022 - VIVUDECOR</p>
        <p class="mb-0 text-white"><span style="font-weight:bold;">Địa chỉ:</span> 6 Đường số 2 KDC Thành Ủy , Hiệp Bình Chánh, Thủ Đức, HCM | <span style="font-weight:bold;">Hotline:</span> 0917219888</p>
    </div>
</footer>